<div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="social-links">
                <ul>
            {% for link in links %}
                <li>
                    {% if link.link_type.symbol %}
                        <a href="{{ link.url }}" title="{{ link.title }}"><span class="symbol">{{ link.link_type.symbol|safe }}</span> </a>
                        {% comment %} {{ link.name }} {% endcomment %}
                    {% else %}
                        <img src="{{ link.link_type.image.url }}" style="margin-right:5px;margin-top:2px;" />
                    {% endif %}
                </li>
            {% endfor %}
                    </ul>
            </div>
        </div>
    <div class="col-md-2"></div>
</div>