{% extends 'wild_humans_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="center">wild humans </h1>

            <hr>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="left-align latest-blog">
                <h3>News</h3>
                <br>
                <div class="title-bar">
                    <h4>{{ latest_blog.title }}</h4>

                </div>
                <br>
                <div>
                    {% if latest_blog.blog_image %}
                        <img style="float: left;" src="{{ latest_blog.blog_image.url }}" class="blog-image"/>
                    {% endif %}
                    {{ latest_blog.body | linebreaks }}

                </div>
            </div>
            <br>

        </div>
        <div class="col-md-3 left-align">
            {% include 'event_calendar/calendar_column.html' %}
            {% block calendar_column %}
            {% endblock %}
        </div>
        <div class="col-md-1"></div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10"><hr>
        <div>
            {% include 'social_media_links/social.html' %}
            {% block social %}{% endblock %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}