
html, body {
    margin: 0;
    min-height: 100%;
}


body {
    background-image: url("/static/img/background.png");
    background-color: black !important;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;



}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}


hr {
	color: white;
	width: 100%;
	height: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.content, .title {
    font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;

}

.latest-blog {

    padding-left: 10%;
    padding-right: 10%;

}

.contet-row {
    margin-top: 15px;
}

.center {
    text-align: center;
}

.pad {
    height: 100px;
}

/*TODO: take this out and leave it in social css file, collect static*/
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



li {
    display: inline;
}

.social-links {
    text-align: center;
    font-size: 70px;
    color: white;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.right-float {
    float: right;
}

.left-float {
    float: left;
}

.title-bar {
    clear: both;
    height: 20px;
}

.blog-image {
    max-height: 300px;
    max-width: 300px;
    width: auto;

}

.banner {
    font-size: 72px;
}

#main_nav {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

#navbar ul li a:hover {
    color: white;
}

.title {
    margin-top: 20px;
    color: white;
}


@media (min-width: 768px){
.navbar-nav{
    margin: 0 auto !important;
    display: table;
    table-layout: fixed;
    float:none !important;
}
}

.blog-post {
    margin-top: 15px;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}



.front-poster {
    height: 600px;
    width: auto;

}

.contact-form {
    text-align: left;
}

.contact-form input, .contact-form textarea  {
    color: black;
}

body { 
   overflow-x: hidden;
}

a {
    transition: color .2s ease-in;
}

a:hover {
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: gray;
    transition: color .2s ease-in;
}

.symbol:hover, a.symbol {
    color: white;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}