html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("/static/img/background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
    width: 100%;


}

hr {
	color: white;
	width: 100%;
	height: 3px;
	margin-top: 0;
	margin-bottom: 0;
}

li {
    list-style-type: none;
}

ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.content {
    font-family: 'Raleway', sans-serif;
	color: white;
	text-align: center;

}

.center {
    text-align: center;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.pad {
    height: 200px;
}

//TODO: take this out and leave it in social css file, collect static
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('MonoSocialIconsFont-1.10.eot');
    src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('MonoSocialIconsFont-1.10.woff') format('woff'),
         url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: white;

}

.symbol:hover, a.symbol {
    color: gray;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

li {
    display: inline;
}

.social-links {
    text-align: center;
    font-size: 30px;
    color: white;
}

