{% block calendar_column %}
<div class="calendar-column">
    <h3>Upcoming</h3>
    <br>
    <ul>
        {% if events %}
            {% for event in events %}
                <li>
                    {{ event.date }} <br>
                    {{ event.title }} <br>
                    {{ event.venue }} <br>
                    {{ event.description }}
                </li>
            {% endfor %}
        {% else %}
            <li>No upcoming events</li>
        {% endif %}
    </ul>
</div>
{% endblock %}