{% extends 'wild_humans_main/base.html' %}
{% block content %}
<div class="container-fluid content">
    <div class="row content-row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                {% if videos %}
                    {% for video in videos %}
                        <div class="video-listing">
                            <h3>{{video.title}}</h3>
                            <p>
                                <a href="{{ video.url }}"></a>
                            </p>
                            <p>
                                {{ video.embed_code | safe }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}